

.hide{
    display: none;
}

.box{
    padding: 10px;
    font-family: "Noto Serif TC";
}

.w-40{
    width: 40%;
}

.p-6{
    padding: 4.5rem;
}


.empty{
    height: 70px;
}

.ps-45{
    padding-left: 2.3rem;
}

