.mt-68{
    margin-top: 3.75rem;
}

.mb-28{
    margin-bottom: 1.75rem;
}

.rings{
    padding-left: 40px;
    padding-right: 40px;
}

.titleText{
    color:#8c5d2b;
}


.border-beige{
    border: 2px solid #f4bd8d;
}

.bg-beige{
    background-color: #f4bd8d;
}

.beige{
    color: #f4bd8d;
}

.fs-7{
    font-size: 0.875rem;
}

.beigeBtn{
    background-color: #f4bd8d;
    border: 2px solid #f4bd8d;
    color:#fff;
}

.beigeBtn:hover{
    background-color: #eb8b37;
    border: 2px solid #eb8b37;
    color: #fff;
}


.product{
    color:rgb(147, 73, 17);
}

.productList{
    color:rgb(223, 121, 18);
}

.product:hover{
    color: rgb(223, 136, 69);
}

.border-start-beige{
    border-left: 1px solid #f4bd8d;
}


.heart1{
    color: #f4bd8d;
}


.heart1:hover{
    color: #fff;
}


.w-md-40{
    width: 40%;
}